@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

:root {
  --primary-color: #c00f70;
  --secondary-color: #f861b4;
  --ultra-light: #da77ad;
}

/*Utility class*/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ************ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  color: white;
  background: url("./Images/1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: black;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
}
ul {
  list-style-type: none;
}
button {
  border: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, minmax(250px, auto));
  grid-template-areas:
    "n n n . . ."
    "h h . . . ."
    "f f f . . .";
}
button:hover {
  cursor: pointer;
}
input {
  border: 0;
}
button:focus,
input:focus {
  outline: 0;
}
.navbar {
  justify-content: space-between;
  padding: 20px 10px;
  grid-area: n;
}
.logo {
  font-size: 2em;
  font-weight: bold;
}

.logo > span:first-child {
  color: var(--primary-color);
}

.logo > span:nth-child(2) {
  color: var(--secondary-color);
}

.ul {
  justify-content: space-between;
}

.ul li {
  padding: 0 15px 0;
}

.hero {
  padding: 110px 0 0;
  grid-area: h;
}

.hero h1 {
  font-size: 3em;
  color: var(--primary-color);
}
.hero p {
  font-size: 1em;
  color: var(--ultra-light);
  margin-top: 20px;
}
.buttons {
  justify-content: flex-start;
  margin-top: 100px;
}

.buttons > button {
  background: var(--secondary-color);
  color: white;
  border-radius: 60px;
  font-size: 1em;
  padding: 15px 30px;
  margin-right: 40px;
}

.play {
  background: white;
  color: var(--secondary-color);
  font-size: 1em;
  padding: 20px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 60px;
  width: 60px;
  display: grid;
  place-items: center;
}

.right span {
  color: var(--ultra-light);
  margin-left: 20px;
  font-size: 0.9em;
}
.footer {
  margin-top: 150px;
  grid-area: f;
}
.c {
  align-self: center;
  justify-self: flex-start;
}
.footer button {
  background: transparent;
  font-size: 0.9em;
  color: var(--ultra-light);
  margin-right: 45px;
}
.icon {
  font-size: 3em;
}
